<div class="login-wrapper">

  <form class="login-form" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">

    <!-- Styling for the login component -->
    <div class="element1">
      <img src="../../../../assets/pokeball.png" width="30" />
    </div>
    <div class="element2">
      <img src="../../../../assets/pokeball.png" width="30" />
    </div>
    <div class="element3">
      <img src="../../../../assets/pokeball.png" width="30" />
    </div>
    <div class="element4">
      <img src="../../../../assets/pokeball.png" width="30" />
    </div>
    <label class="login-label" for="username">Choose your trainer</label>

    <!-- Use Angular forms, require user to fill in an username of 3 characters -->
    <input class="form-control" ngModel #username="ngModel" type="text" name="username" id="username"
      placeholder="Type your username" required minlength="3" appForbiddenName="/^[A-Za-z]+$/" />

    <!-- Display different messages when validating the input of a form -->
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">

      <div *ngIf="username.errors?.['required']">
        Userame is required.
      </div>
      <div *ngIf="username.errors?.['minlength']">
        Username must be at least 3 characters long.
      </div>
      <div *ngIf="username.errors?.['appForbiddenName']">
        No special characters
      </div>

    </div>

    <!-- The button only submits when the form input is valid  -->
    <button class="login-button" type="submit" [disabled]="loginForm.form.invalid">Login</button>
  </form>
</div>